#interactive-map {
    height: 400px;
    width: 80%;
    margin-bottom: 1.5%;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 500px) {
    #interactive-map {
        width: 95%;
        margin-bottom: 1.5%;
    }
}